DATABASE_URL=your-database-url
PORT=port

# better-auth
BETTER_AUTH_SECRET=your-better-auth-secret
BETTER_AUTH_URL=base-url-of-your-app

NODE_ENV=environment_of_your_process

DATABASE_URL=your-database-url  
PORT=your_port
BASE_URL=Your_base_url

# better-auth
BETTER_AUTH_SECRET=your-better-auth-secret
BETTER_AUTH_URL=your-better-authurl

# google app
GAPP_PASS=google-app-user
GAPP_USER=google-app-pass

# admin seeding secret
# which is used in database auto generation logic
SECRET_KEY=seeding-secret-
